@font-face {
	font-family:"lust-sans";
	src:url("https://use.typekit.net/af/63e0ec/00000000000000007735ddd3/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/63e0ec/00000000000000007735ddd3/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/63e0ec/00000000000000007735ddd3/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
	font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
	font-family:"bicyclette";
	src:url("https://use.typekit.net/af/87f362/00000000000000007735acdc/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/87f362/00000000000000007735acdc/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/87f362/00000000000000007735acdc/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
	font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
	}

body {
	min-height: 100vh;
	margin: 0;
	color: #436f78;
	background-position: center;
	background-size: cover;
	background-attachment: fixed ;
	background-repeat: no-repeat;
	background-image: url('/src/assets/prima2.7.jpg');
}

#menu-open-div {
	display: none;
}

.main-route-body {
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

* {
	box-sizing: border-box;
	/* border: 1px solid yellow; */
}

.mobile-menu {
	display: none;
}

.parallax-1-container {
	height: 80vh;
	width: 100%;
	background-position: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://res.cloudinary.com/da2xsrb3n/image/upload/v1712283309/assets/images/brooklyn.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	display: flex;
	justify-content: center;
	align-items: center;
}


.prima-text-container {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-right: 3rem;
	padding-left: 3rem;
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Montserrat;
	/* color: #fff; */
	color: #dec699;
	line-height: 1;
	/* box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4); */
}

.prima-text {
	font-size: 6rem;
	font-family: "lust-sans";
	margin: 0;
	margin-bottom: 1rem;
	margin-top: 1rem;
	
}

.residential-text {
	font-size: 1.5rem;
	font-family: "bicyclette";
	font-weight: 200;
	margin: 0;
}

.yatll-text {
	font-size: 1.5rem;
	font-family: "lust-sans";
	margin: 20px;
	color: #dec699;
	margin-left: auto;

	
}

.featured-properties-text-container {
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.featured-properties-text {
	font-size: 2.5rem;
	font-family: Montserrat;
	text-align: center;

}

.featured-properties-container {
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.featured-property {
	width: 100%;
	height: auto;
	margin-inline: 1rem;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
	z-index: -1;
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);

}
/* 
.featured-property:hover {
    transform: scale(1.05);
} */

.featured-property-1-image {
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 17rem;
}


.featured-property-text {
	height: 8rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: Montserrat;
	font-size: 1.5rem;
	background-color: white;
	color: #436f78;
}

a.property-image-link {
	display: block;
	text-decoration: none;
	color: #436f78;
	width: 20%;
	margin-inline: 1rem;
	transition: transform 0.2s ease-in-out;
    position: relative;
}

a.property-image-link:hover {
	transform: scale(1.05);
}

.city-state {
	font-size: 1.2rem;
	font-family: Montserrat;
	color: #436f78;
}

.ers-text {
	font-size: 2.5rem;
	font-family: Montserrat;
	text-align: center;
}

/* parallax on main page */

.parallax-container-content-each {
	min-height: 45vh;
	height: auto;
	width: 85%;
	display: flex;
	margin: 0 auto;
	background-color: white;
}

.parallax-text-side {
	/* background-image: radial-gradient(circle at center, white, rgba(67, 111, 120, 0.3) 30%, rgba(222, 198, 153, 0.4) 60%, white); */
	width: 50%;
	background-color: rgb(232, 229, 229);
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 1rem;
	margin: 0;
	padding: 2rem;
	font-family: Montserrat;
}

.parallax-text-side-title {
	font-size: 2rem;
	margin: 0;
}

.parallax-text-side-text {
	font-size: 1.2rem;
	margin: 0;
	line-height: 1.5;

}

/* .properties-link {
	text-decoration: none;
	color: #dec699;
	font-size: 1.5rem;
	font-family: Montserrat;
	background-color: #436f78;
	padding: 0.75rem;
	border-radius: 2.5px;
} */

.properties-link {
    position: relative;
    text-decoration: none;
    color: #dec699;
    font-size: 1.5rem;
    font-family: Montserrat;
    background-color: #436f78;
    padding: 0.75rem;
    border-radius: 2.5px;
}

.properties-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #dec699;
    transition: width 0.2s ease-out;
}

.properties-link:hover::before {
    width: 100%;
}

.parallax-image-side {
	width: 50%;
}

.within-right {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.red {
	background-image: url('https://res.cloudinary.com/da2xsrb3n/image/upload/v1712282908/assets/images/hand-keys.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.blue {
	background-image: url('https://res.cloudinary.com/da2xsrb3n/image/upload/v1712282908/assets/images/strategy.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

/* Layout styles */

.navbar-main {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	position: absolute;
	top: 0;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.7rem;
}

.logo {
	margin-left: 25px;
	margin-right: 30px;
	/* vertical-align: baseline; */
}

a.navbar-links {
	text-decoration: none;
	color: #dec699;
	font-size: 1.7rem;
	margin-right: 25px;
	font-family: Montserrat;
}

/* about page styles */

.about-page-body {
	margin: 0;
	height: 100%;
	width: 100%;
	/* background-image: radial-gradient(circle at center, white, rgba(67, 111, 120, 0.3) 30%, rgba(222, 198, 153, 0.4) 60%, white); */
}

.navbar-all {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.7rem;
}

.about-us-text-container {font-family: Montserrat;
	color: #436f78;
	display:flex;
	flex-direction: column;
	height: 100vh;
	width: 90%;
	margin: 0 auto;
}

.about-us-text-half {
	width: 50%;
	padding: 2rem;
	/* text-align: center; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-us-title-text {
	margin: 0;
	font-size: 3rem;
}

.about-us-text {
	font-size: 1.3rem;
	width: 85%;
	line-height: 1.5;
	margin: 0 auto;
	/* word-wrap: break-word; */
}

.about-us-services-half {
	width: 50%;
	/* height: 100vh; */
	display: flex;
	justify-content: center;
	align-items: center;
}

/* properties page*/

.masonry {
	padding: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
	font-family: Montserrat;
	/* background-image: radial-gradient(circle at center, white, rgba(67, 111, 120, 0.3) 30%, rgba(222, 198, 153, 0.4) 60%, white); */
}

.properties-page-each-property-link {
	text-decoration: none;
	color: #436f78;
}

.masonry-item-img {
	background-size: cover;
	height: 20rem;
}

.masonry-item-text-container {
	text-align: center;
}

p.masonry-item-address {
	font-size: 2rem;
	margin-bottom: 0;
	text-decoration: none;
}

.masonry-item-city-state {
	font-size: 1.5rem;
	margin-top: 0;
}


@media (max-width: 786px) {
	.navbar-main {
		display: none;
	}

	.mobile-menu {
		display: none;
		/* z-index: 12; */
		/* position: relative; */
	}

	#menu-open-div {
		position: fixed;
		bottom: 0;
		right: 0;
		margin: 1rem;
		color: #dec699;
		/* background-color: #436f78; */
		background-image: linear-gradient(rgba(67, 111, 120, 0.5), rgba(67, 111, 120, 0.5));
		z-index: 15;
		display: flex;
		padding: 0.5rem;
		border-radius: 3px;
	}

	#menu-close {
		color: #dec699;
		position: absolute;
		top: 0;
		right: 0;
		margin: 1rem;
	}

	.mobile-menu {
		display: none;
		position: fixed;
		bottom: 0;
		right: 0;
		height: 40vh;
		width: 100%;
		background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: 10;
	}

	.navbar-mobile-links {
		margin: 1rem;
		font-size: 2rem;
		text-decoration: none;
		color: white;
		font-family: Montserrat;
		color: #dec699;
	}


	.navbar-all {
		display: none;
	}

	.parallax-1-container {
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://res.cloudinary.com/da2xsrb3n/image/upload/v1712283309/assets/images/brooklyn.jpg');

	}

	.prima-text-container {
		padding: 0;
		background-image: none;
		box-shadow: none;
	}

	.prima-text {
		font-size: 5.5rem;
	}

	.residential-text {
		font-size: 1.5rem;
	}	

	.yatll-text {
		font-size: 1.5rem;
		text-align: center;
		margin: 10px;
		color: #dec699;
	}

	.ers-text {
		font-size: 2rem;
	}

	.featured-properties-text {
		font-size: 1.5rem;
		margin: 3vh;
		width: 100%;
		background-color: white;
	}

	.featured-properties-container {
		flex-direction: column;
		height: auto;
		width: 90%;
	}

	a.property-image-link {
		z-index: -1;
	}

	.featured-property {
		width: 100%;
		height: auto;
		margin-bottom: 1rem;
		margin-top: 0;
		margin-inline: 0;
		border-radius: 0%;
	}

	a.property-image-link {
		display: block;
		text-decoration: none;
		color: #436f78;
		width: 100%;
	}

	.featured-property-1-image {
		height: 17rem;
	}

	.featured-property-2-image {
		height: 14rem;
	}

	.featured-property-3-image {
		height: 14rem;
	}

	.featured-property-text {
		font-size: 1rem;
	}

	.ers-text {
		font-size: 1.5rem ;
	}

	.parallax-container-content-each {
		flex-direction: column;
		width: 100%;
	}
	
	.parallax-container-content-each-2 {
		flex-direction: column-reverse;
	}

	.within-right {
		height: 14rem;
	}
	

	.parallax-text-side {
		width: 100%;
		margin: 1rem auto;
		padding: 3rem;
		font-size: 1.75rem;
	}

	.parallax-image-side {
		width: 100%;
		margin: 0 auto;
		height: auto;
	}

	.properties-link {
		font-size: 1.25rem;
		padding: 0.75;
	}

	.masonry {
		display: flex;
		flex-direction: column;
	}
}
	/* contact page */

.icon {
	font-size: 650px;
	position: absolute;
	top: 50%;
	left: 35%;
	transform: translate(-50%, -50%);
	color: #cee0e3;
	z-index: -1;
	/* transform: rotateZ(35deg); */
}

.contact-page-container {
	height: 100vh;
	width: 100%;
	/* background-color: #436f78; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-family: Montserrat;
}

.contact-page-content {
	display: flex;
	flex-direction: row;
	color: #436f78;
	width: 100%;
	height: 100%;
}

.contact-us-ways {
	/* font-size: 2rem; */
	text-align: left;
	width: 65%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact-us-text-container {
	margin: 1rem;
	width: 75%;
	margin: 0 auto;
}

.contact-us-title {
	font-size: 1.7rem;
	/* margin: 1rem; */
	/* width: 75%; */
	margin: 0 auto 1rem auto;
}

.contact-us-text {
	margin: 1rem;
	font-size: 1.3rem;
	/* width: 85%; */
	line-height: 1.5;
	margin: 0 auto 2rem auto;
}

.contact-us-link {
	color: #436f78;
	text-decoration: none;
	font-size: 1.4rem;
	display: block;
	margin: 1rem 0 0 0;
}

.contact-us-links {
	width: 75%;
	text-align: left;
	margin: 0 auto;
}

.form-container {
	width: 35%;
	/* margin: 0 auto; */
	/* background-color: #436f78; */
	background-image: linear-gradient(
		to right,
		rgba(67, 111, 120, 0.4),
		rgba(67, 111, 120, 0.4)
	);
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form {
	width: 75%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form input {
	margin: 0.5rem 1rem;
	padding: 1rem;
	width: 100%;
	border-radius: 5px;
	border: 2px solid #436f78;
}

.form textarea {
	margin: 0.5rem 1rem;
	padding: 1rem;
	width: 100%;
	border-radius: 5px;
	border: 2px solid #436f78;
}

.submit-form {
	margin-block: 1rem;
	padding: 1rem;
	width: 35% !important;
	border-radius: 5px;
	border: none;
	background-color: #f4f4f4;
	color: #436f78;
	font-size: 1.4rem;
	cursor: pointer;
	margin-left: auto !important;
	margin-right: 0 !important;
}

@media (max-width: 768px) {

	.contact-page-container{
		height: auto;
	
	}
	
	.contact-page-content {
		display: flex;
		flex-direction: column;
		color: #436f78;
		width: 100%;
		height: 100%;
	}

	.icon {
		font-size: 350px;
	}

	.contact-us-ways {
		/* font-size: 2rem; */
		text-align: left;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.contact-us-text-container {
		margin: 1rem;
		width: 85%;
		margin: 0 auto;
	}

	.contact-us-text {
		margin: 1rem auto;
		font-size: 1.2rem;
		width: 100%;
		line-height: 1.4;
		/* margin: 0 auto 1rem auto; */
	}

	.contact-us-title {
		font-size: 1.7rem;
		margin-top: 4rem;
	}

	.contact-us-link {
		color: #436f78;
		text-decoration: none;
		font-size: 1rem;
		display: block;
		margin: 1rem 0 0 0;
	}

	.contact-us-links {
		width: 85%;
		text-align: left;
		margin: 0 auto 1rem auto;
	}

	.form-container {
		width: 100%;
		/* margin: 0 auto; */
		/* background-color: #436f78; */
		background-image: linear-gradient(
			to right,
			rgba(67, 111, 120, 0.4),
			rgba(67, 111, 120, 0.4)
		);
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-block: 1rem;
	}

	.form {
		width: 85%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.form input {
		margin: 0.5rem 1rem;
		padding: 1rem;
		width: 100%;
		border-radius: 5px;
		border: 2px solid #436f78;
	}

	.form textarea {
		margin: 0.5rem 1rem;
		padding: 1rem;
		width: 100%;
		border-radius: 5px;
		border: 2px solid #436f78;
	}

	.submit-form {
		margin-block: 1rem;
		padding: 1rem;
		width: 100% !important;
		border-radius: 5px;
	}

	.property-container {
		display: flex;
		flex-direction: column;
		height: auto;
	}

	.property-image-container-each-property {
		height: 19rem;
	}

	.property-info {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.property-address {
		width: 90%;
		margin: 0 auto;
		height: auto;
		padding: 2rem 0;
		border-bottom: 1px solid #dec699;
	}

	.street {
		font-size: 1.7rem;
	}

	.city-state-id-page {
		font-size: 1.5rem;
	}

	/* .find-this-on {
		height: auto;
		padding: 1.7rem 0;
	} */

	.map-wrapper {
		height: auto;
		width: 90%;
		margin: 0 auto;
	}

	.flex-to-reverse {
		flex-direction: column-reverse;
	}
}

.footer {
	background-color: #436f78;
	color: #dec699;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 3rem;
	margin-top: 2rem;
}

/* .footer-logo {
	margin-left: 25px;
	margin-right: 30px;
	vertical-align: baseline;
} */

.footer-links {
	display: flex;
	flex-direction: column;

}

.footer-link-a-tag {
	text-decoration: none;
	color: #dec699;
	font-size: 1.7rem;
	font-family: Montserrat;
	margin: 0.3rem;
}

.contact-us-links-footer {
	color: #dec699;
	display: flex;
	flex-direction: column;
}

.contact-us-link-footer {
	color: #dec699;
	text-decoration: none;
	margin: 0.5rem;
	font-size: 1.3rem;
	font-family: Montserrat;
}

@media (max-width: 768px) {
	.footer {
		display: flex;
		flex-direction: column;
		/* justify-content: center; */
		align-items: center;
		padding: 1rem;
		gap: 2rem;
	}

	.footer-links {
		display: flex;
		flex-direction: column;
		text-align: center;
		/* justify-content: center; */
		/* align-items: center; */
	}

	.footer-link-a-tag {
		margin: 0.5rem;
	}

	.contact-us-links-footer {
		display: flex;
		flex-direction: column;
	}

	.contact-us-link-footer {
		margin: 0.5rem;
	}
}